
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Projects/Sample-Wordpress-Site/Sample-Wordpress-Site/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Projects/Sample-Wordpress-Site/Sample-Wordpress-Site/wordpress/index.php [L]
</IfModule>

# END WordPress